@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.left_padding{
    padding-left: 90px;
}


ul{
    list-style-type: none;
  }
  
a{
    text-decoration: none;
}

:root {
    --Brand-Secondary-Alice-Blue: #F1F3FF;
    --Brand-Primary-Cetacean-Blue: #080E54;
    --Brand-Primary-Turquoise: #47EEC7;
    --Brand-Primary-Sapphire: #005CBE;
    --Brand-Secondary-White: #FFF;
    --Brand-Secondary-Dim-Gray: #686868;
    --Brand-Tertiary-Linear: linear-gradient(180deg, #00EAB2 0%, #005CBE 100%);
  }


@media only screen and (max-width: 768px) {
    .left_padding{
        padding-left: 20px;
    }
}